{% load staticfiles %}
<html>
<head>
<meta charset="UTF-8">
<title>ONLYBUY | マイページ</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<center><h1><font size="7">ONLYBUY</font></h1></center>
<section id="sec01">
<center><h2><font size="4">おすすめレシピ</font></h2></center>
<center><font size="4"><a href={{ recipe_url }}>{{ recipe_title }}</a></font></center><br>
<center><img src="{{ recipe_img }}"/></center>
<center>{{ recipe_description }}</center>
<br><br><br>
</section>
<section id="sec02">
<center><a href="{% url 'list' %}"><p class="img"><img src="{% static 'images/freezer.jpg' %}"</p></a></center>
</section>
</body>
</html>